.drag-message-card-container {
  background: #252525;
  padding: 32px;
  border-radius: 0.5em;
  width: 100%;
  max-width: 500px;
}

.place-holder {
  background: #252525;
  text-align: center;
  margin: 19.2px 0;
  font-size: 19.2px;
  color: #999;
}
